:root {
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
}
.title {
}
.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.h3-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.p-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ---header----*/
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
}
.header-logo {

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.logocolor {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.header-nav {
  
}
.header-list {
 display: flex;
justify-content: space-around;

}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #757575;
}
/*---make order-- */
.make-order {
  background-color: #2f303a;
}
.make-order-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
 
}
.make-order-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.make-order-button:hover,
.make-order-button:focus {
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.current {
  color: #2196f3;
}
/* ---features--- */
.features {

}
.features-list {
}
.features-item {
}
/* ---our work---- */
.our-work {
}
.our-work-list {
}
.our-work-item {
}
/* --- our team--- */
.our-team {
  background: #F5F4FA;
}
.our-team-list {
}
.our-team-item {
}
.our-team-name {
}
.our-team-post {
}
/* ---footer---- */
.footer {
  background: #2f303a;
}
.footer-list {
}
.footer-item {
}
.footer-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link:hover,
.footer-link:focus { 
   font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}
.footer-logo {
  font-family: Raleway;ยง
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address {
  font-style: normal;
}
/* ----maim---- */
.main {
  background: #E5E5E5;
}
/* ---main---- */
.main {
}
.main-list {
}
.main-item {
}
.main-link {
}
.main-btn {
  background: #F5F4FA;
  font-family: Roboto;
  font-style: normal
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
background: #2196f3;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

}
.current-button {
  background: #2196f3;
}
/* ---portfolio---- */
.portfolio {
}
.portfolio-list {
}
.portfolio-item {
}
.h3-portfolio {
}
.p-portfolio {
}
